.form-floating {
    width: 100% !important;
}
.form-control {
    width: 100% !important;
}
.container {
    max-width: 100% !important;
}

@media (max-width: 768px) {
    .responsive-radio-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .responsive-radio-group .form-check-label {
        margin-right: 0;
        margin-bottom: 10px; 
    }

    .responsive-radio-group .form-check-input {
        margin-right: 10px;
    }

    .responsive-form {
        padding: 10px;
    }

    .responsive-form .mb-3 {
        flex-direction: column;
    }

    .responsive-form label {
        width: 100%;
        margin-bottom: 5px;
    }

    .responsive-form .form-check-label {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .responsive-form .form-check-input {
        margin-right: 5px;
    }

    .button-group {
        flex-direction: column;
    }

    .button-group .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .button-group .btn:last-child {
        margin-bottom: 0;
    }
}







