<form [formGroup]="registerForm" (ngSubmit)="register()" class="container responsive-form">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr class="my-3 w-100">

    <div class="mb-3 responsive-radio-group">
        <label style="margin-right:10px;">I am a: </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="male" formControlName="gender">Male
        </label>
        <label class="form-check-label" style="margin-left:12px;">
            <input type="radio" class="form-check-input" value="female" formControlName="gender">Female
        </label>
    </div>

    <app-text-input [formControl]="$any(registerForm.controls['username'])"
    [label]="'Username'">
    </app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['knownAs'])"
    [label]="'Known as'">
    </app-text-input>

    <app-date-picker [formControl]="$any(registerForm.controls['dateOfBirth'])"
    [label]="'Date of birth'" [maxDate]="maxDate">
    </app-date-picker>

    <app-text-input [formControl]="$any(registerForm.controls['city'])"
    [label]="'City'">
    </app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['country'])"
    [label]="'Country'">
    </app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['password'])"
    [label]="'Password'"
    [type]="'password'">
    </app-text-input>

    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'Confirm password'"
    [type]="'password'">
    </app-text-input>

    <!-- @if (validationErrors) {
        <div class="alert alert-danger text-start">
            <ul>
                @for (error of validationErrors; track $index) {
                    <li>{{error}}</li>
                }
            </ul>
        </div>
    } -->

    <div class="d-flex justify-content-center w-100 button-group" style="margin-bottom: 35px;">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
        <button (click)="cancel()" class="btn btn-default me-2" type="button">Cancel</button>
    </div>
</form>







