.navbar-brand {
  font-family: "Josefin Sans", sans-serif;
  font-size: 23px;
  text-transform: capitalize;
}

.navbar-collapse.show {
  display: block !important;
}

.container {
  margin-top: 7px;
  margin-bottom: 7px;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}